{% extends "base.html" %}

{% block content %}
{% for item in trades %}
<br>
<div class="col-md6 border rounded">
    <a href="/trade/{{ item.id }}"><h2>{{item.item}}</h2></a>
    <div>
        {{item.description}}
    </div>
    <div>
        Продавец - {{item.user.name}}
    </div>
    {% if current_user.is_authenticated and current_user == item.seller %}
        <div>
            <a href="/trade/{{ item.id }}" class="btn btn-warning">
                Изменить
            </a>
            <a href="/trade_delete/{{ item.id }}" class="btn btn-danger">
                Удалить
            </a>
        </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}